body{
    background-color: #f9f9f9;
    width: 200px; 
    padding: 0 2rem;
}

.title{
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal; 
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.activate{
    all: unset;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal; 
    padding: 0.6rem 3rem;
    border-radius: 10rem; 
    background-color: #0f0f0f;
    color: #f2f2f2;
    user-select: none;
}

.activate:hover{
    cursor: pointer;
    background-color: #272727;
}

.activated:hover{
    cursor: pointer;
    background-color: #e5e5e5;
}

.activated{
    background-color: #f2f2f2;
    color: #0f0f0f;
    border: 1px solid #e5e5e5;
}

.options{
    all: unset;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 0.9rem;
    color: #0f0f0f;
    user-select: none;
}

.options:hover{
    cursor: pointer;
}

.settings_container{
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.settings_container li{
   all: unset;
   font-family: "Gothic A1", sans-serif;
   font-weight: 400;
   font-style: normal; 
   list-style: none; 
   font-size: 0.9rem;
}

.external-link{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

.external-link a{
    color: #4493f8;
}

.external-link > img{
	width: 25px;
	height: 25px;
}

.external-links{
	display: flex;
	justify-content: center;
	padding-top: 10px;
	width: 100%;
	gap: 8px;
}